<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 1) IoT Hub Options -->
    <add key="iot_hub" value="dev-factoryiot-iothub-s1.azure-devices.net"/>
    <add key="cert_path" value="c:\\temp\\iotcerts\\factorygermany.pfx"/>
    <add key="device_id" value="factorygermany"/>
    <!-- 2) IoT Central Options -->
    <add key="device_conn_str" value="HostName=saas-iothub-b44cf2c6-7ed2-45e1-8d20-9833b713dea6.azure-devices.net;DeviceId=482io7;SharedAccessKey=WVXTZHFuUplSlQ9tPCoRu1HzbeuZTetOuVhFVlCIf+8="/>
  </appSettings>
</configuration>