<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 1) IoT Hub Options -->
    <!--
    <add key="IOT_HUB_URI" value="iothub"/>
    <add key="DEVICE_CERTIFICATE" value="pfx"/>
    <add key="device_id" value="deviceid"/>
    -->
    <!-- 2) IoT Central SAS Options -->
    <!--
    <add key="device_conn_str" value="HostName=saas-iothub-.azure-devices.net;DeviceId=482io7;"/>
    -->
    <!-- 1) DPS Options or for Docker as ENV -->
    <!--
    <add key="DEVICE_CERTIFICATE" value="location of pfx"/>
    <add key="DPS_IDSCOPE" value="DPS scopeid"/>
    <add key="PASSWORD" value="password of certificate"/>
    <add key="IOT_HUB_URI" value="iothub"/>
    -->
  </appSettings>
</configuration>