<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iot_hub" value="dev-factoryiot-iothub.azure-devices.net"/>
    <add key="cert_path" value="c:\\temp\\iotcerts\\factorygermany.pfx"/>
    <add key="device_id" value="factorygermany"/>
  </appSettings>
</configuration>